In [4]:
import pandas as pd
import numpy as np

In [5]:
if __name__ == '__main__':
    from findatapy.util import SwimPool; SwimPool()

    from findatapy.market import Market, MarketDataRequest, MarketDataGenerator

    market = Market(market_data_generator=MarketDataGenerator())

    md_request = MarketDataRequest(
        start_date="01 Jun 2000",
        data_source='fred',tickers=['DGS10'],
        fields=['close'],
        vendor_tickers=['DGS10'], 
        vendor_fields=['close'])
    
    df = market.fetch_market(md_request)

2017-09-06 14:02:09,660 - findatapy.market.datavendorweb - INFO - Request Pandas Web data
2017-09-06 14:02:11,435 - findatapy.market.datavendorweb - INFO - Completed request from Pandas Web.
2017-09-06 14:02:11,510 - findatapy.market.ioengine - WARNING - Couldn't push MarketDataRequest_359__abstract_curve_key-None__category-None__category_key-backtest_default-cat_fred_daily_NYC__cut-NYC__data_source-fred__environment-backtest__expiry_date-None__fields-close__finish_date-2017-09-06 05:01:47_143154__freq-daily__freq_mult-1__gran_freq-None__start_date-2000-06-01 00:00:00__tickers-DGS10__trade_side-trade__vendor_fields-close__vendor_tickers-DGS10 to Redis: Error 61 connecting to 127.0.0.1:6379. Connection refused.

In [6]:
df = df.reset_index()
df = df.rename(columns={'Date':'ds','DGS10.close':'y'})
df['y'] = np.log(df['y'])
df.head()

          ds         y
0 2000-06-01  1.824549
1 2000-06-02  1.816452
2 2000-06-05  1.811562
3 2000-06-06  1.814825
4 2000-06-07  1.813195

In [7]:
#fill forward values when the datasets has N/A
df.isnull().sum()
df.fillna(method='ffill').tail()

             ds         y
4497 2017-08-28  0.770108
4498 2017-08-29  0.756122
4499 2017-08-30  0.765468
4500 2017-08-31  0.751416
4501 2017-09-01  0.770108

In [8]:
df = pd.read_csv('output.csv')